.NearestCity {
    margin-top: 30px;
}

.ubication-container {
    padding: 1rem 1.7rem;
    margin: 0 1rem;
    border-radius: 12px;
    background-color: rgb(192, 192, 192, 0.2);
}

.ubication-container img {
    width: 24px;
    margin-right: 4px;
}

.ubication-container p:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.aqi-container {
    background-color: rgb(118, 177, 30);
    color: rgb(56, 84, 15);
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 12px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aqi-container p {
    margin: 2px;
}

.aqi-container p:first-child {
    font-size: 2rem;
}

.weather-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.weather-container article p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8px;
}

.weather-container article img {
    width: 24px;
    margin-right: 8px;
}

.weather-container article:first-child img {
    width: auto;
    margin-right: 8px;
}

.clima {
    padding: 2.6rem 1rem;
    border-radius: 12px;
    background-color: rgb(192, 192, 192, 0.2);
}
  
.stacks {
    padding: 0rem 1.7rem;
    border-radius: 12px;
    background-color: rgb(192, 192, 192, 0.2);
}