body {
  background-image: url("./img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  position: relative; /* Añade esta línea para que el pseudoelemento se posicione correctamente */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Ajusta el valor de '0.5' para controlar la opacidad y la oscuridad */
  z-index: -1; /* Coloca el pseudoelemento detrás del contenido del body */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 10px;
  width: 120px;
}

.App .main {
  background-color: rgba(255, 255, 255, 0.7);
  min-width: 300px;
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.button {
  border: 2px solid #3aa3ff;
  color: #3aa3ff;
  background-color: rgba(255, 255, 255, 0);
  padding: 1rem;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #3aa3ff; /* Green */
  color: white;
}

@media (min-width: 500px) {
  .main__contents {
    display: flex;
  }
  .main__contents article {
    margin: 2rem;
  }
  .main__contents-others p {
    text-align: left;
  }
  .main__contents-others p:nth-child(1) {
    text-align: center;
  }
}

@media (min-width: 800px) {
  .main__contents article {
    margin: 3rem 3rem;
  }
  .App .main {
    padding: 0 1rem 1.5rem 1rem;
  }
}
