body {
  background-image: url('https://culturacientifica.com/app/uploads/2015/02/Del-clima-580x325.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  margin: auto;
  opacity: .7;
  background-color: white;
  width: 20rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
}
.boton{
  border-radius: 2rem;
  background-color: darkcyan;
  color: wheat;
}
